@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25px;
}

.swiper-button-next {
    color: #0d884a;
}

.swiper-button-prev {
    color: #0d884a;
}

.swiper-pagination-bullet {
    background-color: rgb(61, 248, 23);
}

.swiper-pagination-bullet-active {
    background-color: rgb(61, 248, 23);
}
.tema {
    position:absolute;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.tema-txt h1{
    font-size: 75px;
    color: rgb(245, 245, 247);
    text-transform: uppercase;
    font-weight: 600;
}
.menu {
    position:relative;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 900;
}

.navbar {
    display: flex;
}
.menu-1 {
    margin-right: 180px;
}
.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}
.row {
    margin-right: 400px;
    display: flex;
    align-items: left;
}
.header-textcenter {
    color: #f8f6f6;
}
.logo-1 {
    width: 0;
}
.logo-2 {
    width: 150px;
    margin: 0px;
}

.socials {
    display: flex;
}
.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #0d884a;
    border-radius: 50px;
}
.social:hover {
    background-color: #0d884a;
}
.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: rgb(252, 248, 248);
    display: block;
}
.menu .navbar ul li a:hover {
    color: #0d884a;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 150px;
    padding-bottom: 50px;
}
.header2-content {
    margin-top: 250px;
    padding-bottom: 50px;
}
.header3-content {
    margin-top: 150px;
    padding-bottom: 50px;
}

.slider {
    display: flex;
    align-items: center;
}
.slider-txt {
    margin-left: 85px;
    width: 50%;
}
.slider-txt h1 {
    font-size: 70px;
    color: rgb(235, 240, 240);
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p {
    font-size: 18px;
    color: rgb(253, 251, 248);
}
.slider-img {
    width: 50%;
}
.slider-img img {
    margin-right: 525px;
    width: 550px;
}

.slider9 {
    display: flex;
    align-items: right;
    top: 20px;
}
.slider9-img {
    width: 10%;
}
.slider9-img img {
    margin-right: 400px;
    width: 450px;
}
.slider9-txt {
    margin-left: 10px;
    width: 50%;
}
.slider9-txt h4 {
    font-size: 70px;
    color: rgb(55, 248, 248);
    text-transform: uppercase;
    font-weight: 200;
}
.slider9-txt p {
    font-size: 18px;
    color: rgb(253, 251, 248);
}
.botones {
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #0d884a;
    color: rgb(237, 244, 248);
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover {
    background-color: #0d884a;
}

.products {
    background-color: black;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label {
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: rgb(250, 246, 246);
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background ease 0.2s;
}

.tabs .tab {
    order: 99;
    flex-grow: 1;
    width: 100;
    display: none;
    padding-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}
.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #0d884a;
    color: #13f584;
}
.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.product {
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}
.product-img {
    width: 50%;
    text-align: left;
}
.product-img h4 {
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: rgb(253, 253, 253);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #f0eded;
    border-radius: 10px;
    margin-bottom: 50px;
}
.product-img img {
    width: 150px;
    height: 120px;
}
.product-txt {
    width: 50%;
    margin-left: 10px;
    text-align: left;
}
.product-txt h4 {
    color: rgb(249, 252, 252);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 5px;
}
.product-txt p {
    color: rgb(248, 242, 242);
    font-size: 16px;
    margin-bottom: 15px;
}
.product-txt span {
    color: rgb(252, 249, 249);
    font-size: 18px;
    font-weight: 800;
}

.info {
    padding: 100px;
    display: flex;
    align-items: center;
}
.info-img {
    margin-left: 350px;
    width: 50%;
}
.info-img img {
    width: 500px;
    height: 250px;
}
.info-txt h2 {
    font-size: 75px;
    color:aqua;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.info-txt p {
    font-size: 18px;
    color: #fdfbfb;
    margin-bottom: 50px;
}

.btn-2 {
    margin-left: 200px;
    display: inline-block;
    padding: 15px 35px;
    background-color: #0d884a;
    color: black;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}
.btn-2:hover {
    background-color: #084b29;
}

.horario {
    padding: 100px 0px;
    background-color:black;
}
.horario-info h2 {
    font-size: 75px;
    color: rgb(247, 245, 245);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #f7f4f4;
}
.txt h4 {
    font-size: 18px;
    color: #666666;
    margin-bottom: 15px;
}
.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

/*.map {
    filter: grayscale(100%) invert(92%) contrast(93%);
}*/

.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: aliceblue;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.links ul li a {
    color: aliceblue;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

@media(max-width: 991px) {
   
    .tema {
        top: 100px;
        margin-left: 10px;
        padding: 100px;
        justify-content: space-between;
    }
    .menu {
        margin-left: 400px;
        padding: 20px;
        justify-content: space-between;
    }
    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }
    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #666666;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;
    }

    .slider {
        flex-direction: column;
    }
    .slider-txt h1 {
        font-size: 50px;
    }
    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider-txt p {
        font-size: 16px;
    }
    .slider-img {
        width: 100%;
        text-align: center;
    }
    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    .slider1 {
        flex-direction: column;
    }
    .slider1-img {
        width: 100%;
        text-align: center;
    }
    .slider1-img img {
        margin-right: 0px;
        width: 300px;
    }

    .slider1-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .slider1-txt h1 {
        font-size: 50px;
    }
    .slider1-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets,.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px
    }

    .tabs {
        padding: 50px 30px;
    }
    .tabs label {
        width: 33%;
    }

    .info {
        padding: 30px;
        flex-direction: column;
    }
    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }
    .info-txt {
        width: 100%;
        text-align: center;
    }
    .info-txt h2 {
        font-size: 50px;
    }
    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    .horario {
        padding: 30px;
        text-align: center;
    }
    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .horario-txt {
        flex-direction: column;
    }

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0;
       
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25ox 0px 10px 0px;
    }

}